@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 255, 255, 255;
	--foreground: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: 0, 0, 0;
		--foreground: 255, 255, 255;
	}
}

body {
	background: rgb(var(--background));
	color: rgb(var(--foreground));
}

table {
	table-layout: fixed;
}

@layer utilities {
	.nav-link {
		@apply text-zinc-500 transition-colors hover:text-zinc-800;
	}

	.nav-link.active {
		@apply text-zinc-900;
	}
}
